<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configBuilders="AzureKeyVault">
    <add name="ConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--AzureConfiguration-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="KvURL" value="https://keyvaultfidelitydev.vault.azure.net/" />
    <add key="TenantId" value="56df55a2-c09a-4b6c-ab3c-02b63673dd1e" />
    <add key="ClientId" value="0026a5d4-2c38-42db-8ae2-19d9db73ece9" />
    <add key="ClientSecret" value="T5e8Q~8wQTtB8VKKdDO6J3u7ySeRXq6lSyZITarH" />
    <!--3e5092a3-bb6c-4a78-b058-1c3a72a98e67-->
    <add key="AzureKeyVault" value="False" />
    <add key="SecretName" value="SqlServerConnString2--connectionString" />
    <!--End-->
    <add key="SqlServerConnString" value="Data Source=172.16.1.22\MSSQLSERVER2014;Initial Catalog=doQman_Fidelity;Persist Security Info=True;User ID=sa;Password=jaqm739sf$;" />
    <!--Database provider. Ex: SqlServer, MySql />-->
    <add key="DatabaseSystem" value="SqlServer" />
    <!--<add key="DatabaseSystem" value="MySql" />-->
    <!-- Temporary path for file process (DMS & Workflow)-->
    <add key="TempWorkFolder" value="D:\Fidility\TempWorkFolder\" />
    <add key="TempNACHFolder" value="D:\Fidility\TempNACHFolder\" />
    <add key="TempCropImageFolder" value="D:\Fidility\TempCropImageFolder\" />
    <add key="DownloadFormats" value="D:\Fidility\DownloadFormats\" />
    <add key="Disbursement" value="D:\Fidility\Disbursement\DisbursementWorkFlow" />
    <add key="LetterFormat" value="D:\Fidility\Disbursement\LetterFormat" />
    <add key="TempImageLocation" value="D:\Fidility\TempUploadedDocuments\" />
    <add key="WorkFlowTemplateLocation" value="D:\Fidility\WorkFlowTemplates\" />
    <add key="ImageLocation" value="D:\Fidility\UploadedDocuments\" />
    <add key="ArchiveFolder" value="D:\Fidility\ArchivedDocuments\" />
    <add key="DefaultPreview" value="True" />
    <add key="CertificateFolder" value="D:\Fidility\CertificateFolder\" />
    <add key="VersionFolder" value="D:\Fidility\VersionFolder\" />
    <add key="StageTemplatePath" value="D:\Fidility\StageFileUpload" />
    <add key="WorkFlowDocumentsPath" value="D:\Fidility\Workflow" />
    <!-- Virtual path for document download, "Send Mail"-->
    <add key="DocumentPath" value="http://localhost:80/Test_Sabina/" />
    <!-- Physical path for document download, "Send Mail"-->
    <add key="DocumentPhysicalPath" value="E:\Test_Sabina\" />
    <!-- Website link to download document sent from DMS "send mail"-->
    <add key="FileWeb" value="http://localhost:51866/DownloadDocument.aspx" />
    <!-- Pdf reader application installed path: required to print document-->
    <add key="AdobeReaderPath" value="C:\Program Files\Adobe\Reader 11.0\Reader\AcroRd32.exe" />
    <add key="MsgAdobeDownload" value="Adobe reader version is not supporting to view file. Click ok to update adobe reader." />
    <add key="LinkAdobeDownload" value="http://get.adobe.com/reader/" />
    <add key="ClickOnceLink" value="http://localhost:90/WindowsFormWriter SERVICE.application" />
    <add key="logExceptionIsEnabled" value="True" />
    <add key="logTraceIsEnabled" value="True" />
    <!--Email configuration />-->
    <add key="MailHost" value="localhost" />
    <add key="SuperAdminEmail" value="no-replay@DoQman.org" />
    <add key="Timeout" value="20000" />
  </appSettings>
  <!--<connectionStrings>
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.16;Initial Catalog=BFS_Disbursement;Persist Security Info=True;User ID=sa;Password=Lb$@qasql08" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.11\MSSQLSERVER2014;Initial Catalog=DOQMAN_VISTAAR_PRD;Persist Security Info=True;User ID=sa;Password=jaqm739sf$" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.23\MSSQLSERVER2014;Initial Catalog=doQman_Fidelity;Persist Security Info=True;User ID=sa;Password=jaqm739sf$;"/>-->
  <!--
    <add name="SqlServerConnString" connectionString="Data Source=172.16.1.22\MSSQLSERVER2014;Initial Catalog=doQman_Fidelity;Persist Security Info=True;User ID=sa;Password=jaqm739sf$;"/>
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=45.113.191.167;Initial Catalog=DOQMAN_VISTAAR_PRD;Persist Security Info=True;User ID=sa;Password=V!$t@@R@123$#$" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.11;Initial Catalog=Vistaar_QA_Current;Persist Security Info=True;User ID=sa;Password=jaqm739sf$" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.16;Initial Catalog=BFS_Disbursement;Persist Security Info=True;User ID=sa;Password=Lb$@qasql08" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=45.113.191.169;Initial Catalog=Doqman_Vistaar_PRO_BK;Persist Security Info=True;User ID=sa;Password=V!$t@@R@123$#$" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=45.113.191.169;Initial Catalog=Prod_BKUP;Persist Security Info=True;User ID=sa;Password=V!$t@@R@123$#$" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.11;Initial Catalog=writer-dms-enhancement5_current;port=3306;User ID=root;Password=password;" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.16;Initial Catalog=DMSDDE_Present;Persist Security Info=True;User ID=sa;Password=Lb$@qasql08" />-->
  <!--
    -->
  <!--<add name="SqlServerConnString" connectionString="Data Source=172.16.1.11;Port=3306;Database=writer-dms-enhancement5_current;User ID=root;Password=password" />-->
  <!--
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<httpRuntime targetFramework="4.8" />-->
    <!--<httpCookies requireSSL="true"/>-->
    <!--<identity impersonate="true" userName="administrator" password="lotexadmin9823#" />-->
    <sessionState timeout="20" />
    <httpRuntime maxRequestLength="4194304" executionTimeout="36000" targetFramework="4.8" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" batch="false" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Accounts/Login.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="20" />
    </authentication>
    <authorization>
      <!--<deny users="?"/>-->
    </authorization>
    <customErrors mode="Off" defaultRedirect="Accounts/ErrorPage.aspx">
      <error statusCode="403" redirect="Accounts/ErrorPage.aspx" />
      <error statusCode="404" redirect="Accounts/ErrorPage.aspx" />
    </customErrors>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" />
  </system.web>
  <location path="Accounts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CoreService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Assets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CoreServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CoreServiceEndPointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="CoreServiceBehavior" name="CoreServiceLib.CoreService">
        <endpoint address="" binding="webHttpBinding" contract="CoreServiceLib.ICoreService" behaviorConfiguration="CoreServiceEndPointBehavior">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-replay@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="lotexsmtp@gmail.com" password="lotexsmtp123" />
      </smtp>
    </mailSettings>
    <!--<mailSettings>
      <smtp from="merwin.kr@lotex.co.in">
        <network host="smtpout.secureserver.net" port="25" userName="merwin.kr@lotex.co.in" password="lbs@123" />
      </smtp>
      -->
    <!--<smtp deliveryMethod="Network" from="SomeWebsite Admin &lt;lotexsmtp@gmail.com&gt;">
        -->
    <!--
      -->
    <!--<smtp from="lotexsmtp@gmail.com">-->
    <!--
      -->
    <!--
        <network host="smtp.gmail.com" port="465" enableSsl="true" defaultCredentials="false" userName="lotexsmtp@gmail.com" password="lotex@1234"/>
      </smtp>-->
    <!--
    </mailSettings>-->
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2048" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.5.452" newVersion="0.85.5.452" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.0" newVersion="1.30.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.46.0.0" newVersion="4.46.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Security.KeyVault.Secrets" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.23.0.0" newVersion="2.23.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>